@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #000059;
  --color-background-blue: #ecf6ff;
  --color-button: #0c9900;
  --color-button-hover: #16b908;
  --color-header-blue: #1970ff;
  --color-phone-blue: #0004e7;
  --color-focus-blue: #4c4dee;
  --color-warning-red: #dc0004;
  --color-placeholder-gray: #ccc;
  --color-header-gray: #686868;
  --font-source: "Source Sans 3", "sans-serif";
  --animate-fade: fadeIn 0.2s ease-in-out;

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 100;
    }
  }
}
